.postHeaderWrapper {
  padding-top: 6.6rem;
  padding-bottom: 3rem;
  background-image:
    linear-gradient(var(--color-neutral-400-opacity-hard) 100%,
      var(--color-neutral-400-opacity-hard) 100%),
    var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.postHeaderInner {
  position: relative;
}

.postTitle {
  margin-bottom: var(--spacing-h1);
}

.postDescription {
  margin-bottom: var(--spacing-text);
  text-align: center;
}

.postHeaderFooter {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .postHeaderFooter {
    text-align: left;
  }
}

.postDate {
  display: block;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@media screen and (min-width: 768px) {
  .postDate {
    display: inline-block;
  }
}

.keywordsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0.5rem 0 0;
}

@media screen and (min-width: 768px) {
  .keywordsList {
    justify-content: flex-end;
  }
}

.keywordItem {
  padding: 0.3rem 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-neutral-100);
  background-color: var(--color-red-900);
}

.keywordItem:not(:last-child) {
  margin-right: 0.5rem;
}
