.button {
  display: inline-block;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius);
  border-width: var(--border-width-button);
  border-style: var(--border-style-button);
  transition:
    border-color var(--transition-fast),
    background-color var(--transition-fast);
}

.button:focus {
  outline-width: var(--outline-width-button);
  outline-style: var(--outline-style-button);
  outline-color: var(--outline-color-button);
}

.variant-filled {
  border-color: var(--color-primary-500);
  color: var(--color-neutral-50);
  background-color: var(--color-primary-500);
}

.variant-filled:hover {
  border-color: var(--color-primary-700);
  background-color: var(--color-primary-700);
}

.variant-filled:active {
  border-color: var(--color-primary-900);
  background-color: var(--color-primary-900);
}

.variant-outlined {
  border-color: var(--color-primary-500);
  color: var(--color-primary-500);
  background-color: var(--color-transparent);
}

.variant-outlined:hover {
  color: var(--color-primary-700);
  border-color: var(--color-primary-700);
}

.variant-outlined:active {
  color: var(--color-primary-900);
  border-color: var(--color-primary-900);
}

.variant-ghost {
  border-color: var(--color-transparent);
  color: var(--color-primary-500);
  background-color: var(--color-transparent);
}

.variant-ghost:hover {
  color: var(--color-primary-700);
}

.variant-ghost:active {
  color: var(--color-primary-900);
}

.variant-link {
  border-color: var(--color-transparent);
  text-decoration: underline;
  text-underline-offset: 2px;
  color: var(--color-primary-500);
  background-color: var(--color-transparent);
}

.variant-link:hover {
  color: var(--color-primary-700);
}

.variant-link:active {
  color: var(--color-primary-900);
}
