.label {
  position: absolute;
  z-index: var(--z-index-absolute);
  bottom: 0;
  left: 0;
  padding: 0.44rem 0.66rem;
  color: var(--color-neutral-100);
  background-color: var(--color-primary-700);
}

@media screen and (min-width: 768px) {
  .label {
    bottom: 30%;
  }
}
