.postContent > *:not(:last-child) {
  margin-bottom: var(--spacing-xl);
}

.postContent .image {
  margin: var(--spacing-xxxl) 0;
}

.postContent .blockCode {
  /* Sobrescrever Prism */
  margin: var(--spacing-xl) 0 !important;
}

.postContent .heading {
  margin: var(--spacing-xxxl) 0 var(--spacing-xxl);
  scroll-margin-top: var(--spacing-lg);
}

.heading:first-child {
  margin-top: 0;
}

@media screen and (min-width: 425px) {
  .postContent .heading {
    scroll-margin-top: var(--spacing-xl);
  }
}

@media screen and (min-width: 768px) {
  .postContent .heading {
    scroll-margin-top: var(--spacing-xxl);
  }
}

.postContent .headingLink {
  display: block;
  text-decoration-color: var(--color-transparent);
  text-decoration-style: dotted;
  text-underline-offset: var(--spacing-sm);
  transition: var(--transition-fast);
}

.postContent .headingLink:hover,
.postContent .headingLink:focus {
  text-decoration-color: var(--color-neutral-500);
}

.postContent .headingLinkText {
  position: relative;
}

.postContent .headingLinkText::before {
  content: '#';
  position: absolute;
  transform: translateY(-50%);
  top: calc(16lh / 0.75em * 1px);
  right: calc(100% + 0.5ch);
  font-size: 0.6em;
  color: var(--color-neutral-500);
  opacity: 0;
  transition: var(--transition-fast);
}

.postContent .headingLink:hover .headingLinkText::before {
  opacity: 1;
}

.postContent .a {
  text-decoration-line: underline;
}

.postContent .a:hover,
.postContent .a:focus {
  text-decoration-thickness: 3px;
}

.postContent .ul {
  list-style-type: disc;
  list-style-position: inside;
}

.postContent .li {
  font-family: var(--font-family-body);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-400);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-md);
}

.postContent .li:not(:last-child) {
  margin-bottom: var(--spacing-xs);
}

.postContent .li::before {
  content: none;
}

.postContent .li > .p {
  display: inline;
}

.postContent .p .inlineCode {
  font-size: var(--font-size-xs);
}
