.headerWrapper {
  position: fixed;
  transform: translate(-50%, -110%);
  z-index: var(--z-index-fixed);
  top: 0;
  left: 50%;
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
  color: var(--color-neutral-100);
  background-color: var(--color-neutral-900);
  transition: transform var(--transition-medium);
}

.headerWrapper.isOpen {
  transform: translate(-50%, 0);
}

@media screen and (min-width: 768px) {
  .headerWrapper.isOpen {
    transform: translate(-50%, 0);
  }
}

.headerWrapper.isHome {
  background-color: var(--color-transparent);
}

.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .openMenuButton {
    display: none;
  }
}
