.postCardTitle {
  display: inline-block;
  margin: 0;
  background-image: linear-gradient(120deg,
      var(--color-red-900) 0%,
      var(--color-red-500) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0;
  background-position: 0 100%;
  transition: var(--transition-fast);
}

@media screen and (min-width: 768px) {
  .postCardTitle {
    background-size: 100% 0.2rem;
  }
}

.postCardTitle:hover,
.postCardTitle:focus-within {
  background-size: 100% 108%;
}

.postCardTitle:hover a,
.postCardTitle:focus-within a {
  color: var(--color-neutral-100);
}
 
.postCardTitle.isHero {
  margin: var(--spacing-h3) 0;
}

.postCardTitle.isCompact {}

.postCardTitleLink {
  padding: 0.5rem;
  transition: var(--transition-fast);
}
