.postCardTitle {
  display: inline-block;
  padding: var(--spacing-xs) var(--spacing-sm);
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-700);
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-sm);
  background-image: linear-gradient(120deg,
      var(--color-primary-900) 0%,
      var(--color-primary-500) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0;
  background-position: 0 100%;
  transition: var(--transition-fast);
}

@media screen and (min-width: 768px) {
  .postCardTitle {
    background-size: 100% 0.2rem;
  }
}

.postCardTitle:hover,
.postCardTitle:focus-within {
  background-size: 100% 108%;
}

.postCardTitle:hover a,
.postCardTitle:focus-within a {
  color: var(--color-neutral-100);
}
 
.postCardTitle.isHero {}

.postCardTitle.isCompact {}

.postCardTitleLink {
  text-decoration: none;
  transition: var(--transition-fast);
}

.postCategoryText {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xxxs);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-md);
  line-height: var(--line-height-xs);
}
