.fontWeightThin {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-100);
  letter-spacing: 0;
  line-height: 1;
}

.fontWeightExtralight {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-200);
  letter-spacing: 0;
  line-height: 1;
}

.fontWeightLight {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-300);
  letter-spacing: 0;
  line-height: 1;
}

.fontWeightRegular {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-400);
  letter-spacing: 0;
  line-height: 1;
}

.fontWeightMedium {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-500);
  letter-spacing: 0;
  line-height: 1;
}

.fontWeightSemibold {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-600);
  letter-spacing: 0;
  line-height: 1;
}

.fontWeightBold {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-700);
  letter-spacing: 0;
  line-height: 1;
}

.fontWeightExtrabold {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-800);
  letter-spacing: 0;
  line-height: 1;
}

.fontWeightBlack {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-900);
  letter-spacing: 0;
  line-height: 1;
}
