.paginationWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
}

@media screen and (min-width: 768px) {
  .paginationWrapper {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.paginationButton {
  position: relative;
  width: 100%;
  padding: var(--spacing-sm) var(--spacing-md);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: var(--border-radius);
  border-width: var(--border-width-button);
  border-style: var(--border-style-button);
  border-color: var(--color-primary-500);
  transition: var(--transition-fast);
}

@media screen and (min-width: 768px) {
  .paginationButton {
    width: initial;
  }
}

.paginationButton:hover,
.paginationButton:focus-visible,
.paginationButton:focus {
  color: var(--color-neutral-50);
  outline: none;
}

.paginationButton::before {
  content: '';
  position: absolute;
  z-index: var(--z-index-absolute);
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  width: 0;
  background-color: var(--color-primary-500);
  transition: width var(--transition-fast);
}

.paginationButton:hover::before,
.paginationButton:focus::before {
  width: 100%;
}

.paginationButtonText {
  position: relative;
  z-index: var(--z-index-absolute);
}

.paginationButton.isPrevious::before {
  right: 0;
}
