.tableWrapper {
  overflow: auto;
}

.table {
  font-family: var(--font-family-heading);
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.tableCaption {
  caption-side: bottom;
  /* visually hidden */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(1px, 1px, 1px, 1px);
}

.tableData,
.tableHeader {
  padding: var(--spacing-sm);
  text-align: center;
}

.tableHead .tableRow {
  color: var(--color-neutral-50);
  background-color: var(--color-neutral-700);
}

.tableHead .tableRow:hover {
  color: var(--color-neutral-100);
  background-color: var(--color-primary-800);
}

.tableBody .tableRow:nth-child(even) {
  background-color: var(--color-neutral-200);
}

.tableBody .tableRow:hover {
  color: var(--color-neutral-50);
  background-color: var(--color-primary-300);
}

.tableFoot .tableRow {
  background-color: var(--color-neutral-400);
}

.tableFoot .tableRow:hover {
  color: var(--color-neutral-50);
  background-color: var(--color-primary-400);
}
