.hobbiesTitle {
  margin-bottom: var(--spacing-md);
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-700);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-sm);
}

.hobbiesText {
  font-family: var(--font-family-body);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-400);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-md);
}
