.logoLink {
  position: relative;
  text-decoration: none;
  transition: var(--transition-fast);
  font-family: var(--font-family-body);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-600);
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-xs);
}

.logoLink:hover::after,
.logoLink:focus::after {
  width: 100%;
}

.logoLink::after {
  content: '';
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: var(--transition-fast);
}
