.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  padding: 0.66rem;
  border: 0;
  color: var(--button-color);
  background-color: var(--color-transparent);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.i {}
