.newsletterTitle {
  margin-bottom: var(--spacing-xl);
  text-align: center;
}

.newsletterFormInput {
  width: 100%;
  font-family: var(--font-family-body);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-xs);
}

.newsletterForm {
  padding-top: var(--spacing-xxl);
  padding-bottom: var(--spacing-xxl);
  margin-bottom: 7rem;
  background-color: var(--color-neutral-200);
}

.inputsWrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: var(--spacing-xl);
}

@media screen and (min-width: 768px) {
  .inputsWrapper {
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--spacing-md);
  }
}

.submitButton {
  display: block;
  margin: 0 auto;
}
