.highlightText {
  background-image: linear-gradient(179deg,
      var(--color-neutral-50) 29px,
      var(--color-primary-600) 30px,
      var(--color-primary-600) calc(100% - 30px),
      var(--color-neutral-50) calc(100% - 29px))
}

.textWrapper {
  padding-top: 4.4rem;
  padding-bottom: 4.4rem;
  margin-bottom: 0;
  color: var(--color-neutral-50);
}
