.title {
  scroll-margin-top: 1.5rem;
}

.postH2 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-700);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-sm);
}

.postH3 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-700);
  letter-spacing: var(--letter-spacing-xxs);
  line-height: var(--line-height-sm);
}

.postH4 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-700);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-sm);
}

.postH5 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-700);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-sm);
}

.postH6 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-700);
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-sm);
}

@media screen and (min-width: 425px) {
  .title {
    scroll-margin-top: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .title {
    scroll-margin-top: 2.5rem;
  }
}

.titleLink {
  display: block;
  text-decoration-color: var(--color-transparent);
  text-decoration-style: dotted;
  transition: var(--transition-fast);
}

.titleLink::after {
  content: '#';
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: var(--color-neutral-500);
  opacity: 0;
  transition: var(--transition-fast);
}

.titleLink:hover,
.titleLink:focus {
  text-decoration-color: var(--color-neutral-500);
}

.titleLink:hover::after {
  opacity: 1;
}
