.heading {
  font-size: var(--font-size-xxxl);
  color: var(--color-primary-500);
}

.subHeading {
  font-size: var(--font-size-xxl);
  color: var(--color-primary-500);
}

.subSubHeading {
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-primary-500);
}
