.LinkButton {
  display: block; /* ${({ inline }) => (inline ? 'inline' : 'block')} */
  font-weight: ${({ theme, inline }) => !inline && theme.fontWeight.button};
  letter-spacing: ${({ theme, inline }) =>
    !inline && theme.letterSpacing.button};
  font-family: ${({ theme, inline }) =>
    theme.fontFamily[inline ? 'text' : 'display']};
  text-decoration: none;
  color: ${({ theme, inline }) => inline && theme.color.red_700};
  cursor: pointer;
}