.blockQuote {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  border-left: var(--border-width-block-quote) var(--border-style-block-quote)
    var(--color-primary-100);
  padding: 1rem 1rem 1rem 1.5rem;
  font-style: italic;
}
