.postCardFooterWrapper {
  padding: 0.5rem;
}

@media screen and (min-width: 768px) {
  .postCardFooterWrapper.isCompact {
    margin-top: 0.44rem;
  }
}

.postCardDate {
  margin: 0 !important;
  text-align: right;
  color: var(--color-neutral-600);
}
