.textBox {
  padding: 1rem;
  background-color: var(--color-primary-50);
}

.textBox > *:not(:last-child) {
  margin-bottom: var(--spacing-lg);
}

@media screen and (min-width: 425px) {
  .textBox {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .textBox {
    padding: 2rem;
  }
}
