.textBox {
  padding: 1rem;
  background-color: var(--color-primary-50);
}

@media screen and (min-width: 425px) {
  .textBox {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .textBox {
    padding: 2rem;
  }
}

.textBox>*:first-child {
  margin-top: 0;
}
