.textBox {
  padding: 1rem;
  background-color: var(--color-red-50);

  @media screen and (min-width: 425px) {
    padding: 1.5rem;
  }

  @media screen and (min-width: 768px) {
    padding: 2rem;
  }
}

.textBox>*:first-child {
  margin-top: 0;
}
