.fontSizeXxxs {
  font-size: var(--font-size-xxxs);
}

.fontSizeXxs {
  font-size: var(--font-size-xxs);
}

.fontSizeXs {
  font-size: var(--font-size-xs);
}

.fontSizeSm {
  font-size: var(--font-size-sm);
}

.fontSizeMd {
  font-size: var(--font-size-md);
}

.fontSizeLg {
  font-size: var(--font-size-lg);
}

.fontSizeXl {
  font-size: var(--font-size-xl);
}

.fontSizeXxl {
  font-size: var(--font-size-xxl);
}

.fontSizeXxxl {
  font-size: var(--font-size-xxxl);
}

/* ************************************************************************** */

.heading {
  font-size: var(--font-size-xxxl);
  color: var(--color-primary-500);
}

.subHeading {
  text-align: left;
  font-size: var(--font-size-xxl);
  color: var(--color-primary-500);
}

.subSubHeading {
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-primary-500);
}
