.relatedPostsHeading {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-700);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-sm);
}

.relatedPostsGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}


@media screen and (min-width: 768px) {
  .relatedPostsGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}

@media screen and (min-width: 992px) {
  .relatedPostsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
