.postCode {
  word-break: break-word;
  white-space: break-spaces;

  font-family: var(--font-family-code);
  font-size: var(--font-size-code);
  font-weight: var(--font-weight-code);
  letter-spacing: var(--letter-spacing-code);
  line-height: var(--line-height-code) !important;
}
