.postCode {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-sm) !important;
  font-weight: var(--font-weight-400);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-md) !important;
}
