.heroWrapper {
  padding-top: 6.6rem;
  margin-bottom: 7rem;
  background-image:
    linear-gradient(270deg,
      var(--color-neutral-900-opacity-medium),
      var(--color-neutral-900-opacity-medium)),
    var(--background-image-xs);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (min-width: 425px) {
  .heroWrapper {
    background-image:
      linear-gradient(270deg,
        var(--color-neutral-900-opacity-medium),
        var(--color-neutral-900-opacity-medium)),
      var(--background-image-sm);
  }
}

@media screen and (min-width: 768px) {
  .heroWrapper {
    background-image:
      linear-gradient(270deg,
        var(--color-neutral-900-opacity-medium) 55%,
        var(--color-neutral-600-opacity-medium) 100%),
      var(--background-image-md);
  }
}

@media screen and (min-width: 992px) {
  .heroWrapper {
    background-image:
      linear-gradient(270deg,
        var(--color-neutral-900-opacity-hard) 55%,
        var(--color-neutral-600-opacity-medium) 100%),
      var(--background-image-lg);
  }
}

@media screen and (min-width: 1200px) {
  .heroWrapper {
    background-image:
      linear-gradient(270deg,
        var(--color-neutral-900-opacity-hard) 55%,
        var(--color-neutral-600-opacity-medium) 100%),
      var(--background-image-xl);
  }
}

@media screen and (min-width: 1600px) {
  .heroWrapper {
    background-image:
      linear-gradient(270deg,
        var(--color-neutral-900-opacity-hard) 55%,
        var(--color-neutral-600-opacity-medium) 100%),
      var(--background-image-xxl);
  }
}

.heroInner {
  position: relative;
}
