.heroWrapper {
  padding-top: 6.6rem;
  background-image:
    linear-gradient(270deg,
      var(--color-neutral-900) var(--opacity-medium-hex),
      var(--color-neutral-900) var(--opacity-medium-hex),
    ),
    var(--background-image-xs);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (min-width: 425px) {
  .heroWrapper {
    background-image:
      linear-gradient(270deg,
        var(--color-neutral-900) var(--opacity-medium-hex),
        var(--color-neutral-900) var(--opacity-medium-hex),
      ),
      var(--background-image-sm);
  }
}

@media screen and (min-width: 768px) {
  .heroWrapper {
    background-image:
      linear-gradient(270deg,
        var(--color-neutral-900) var(--opacity-medium-hex) 55%,
        var(--color-neutral-600) var(--opacity-medium-hex) 100%,
      ),
      var(--background-image-md);
  }
}

@media screen and (min-width: 992px) {
  .heroWrapper {
    background-image:
      linear-gradient(270deg,
        var(--color-neutral-900) var(--opacity-hard-hex) 55%,
        var(--color-neutral-600) var(--opacity-medium-hex) 100%,
      ),
      var(--background-image-lg);
  }
}

@media screen and (min-width: 1200px) {
  .heroWrapper {
    background-image:
      linear-gradient(270deg,
        var(--color-neutral-900) var(--opacity-hard-hex) 55%,
        var(--color-neutral-600) var(--opacity-medium-hex) 100%,
      ),
      var(--background-image-xl);
  }
}

@media screen and (min-width: 1600px) {
  .heroWrapper {
    background-image:
      linear-gradient(270deg,
        var(--color-neutral-900) var(--opacity-hard-hex) 55%,
        var(--color-neutral-600) var(--opacity-medium-hex) 100%,
      ),
      var(--background-image-xxl);
  }
}

.heroInner {
  position: relative;
}
