.socialMediaList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-lg);
  margin: 0;
}

@media screen and (min-width: 768px) {
  .socialMediaList {
    flex-direction: row;
    margin-bottom: 0;
  }
}

.socialMediaItem:hover .socialMediaIcon {
  transform: scale(1.2);
}

.socialMediaLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
  text-decoration: none;
}

.socialMediaLink:focus {
  outline: 4px dashed #9ba5aa;
}

.socialMediaIcon {
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

.socialMediaLabel {
  display: block;
  margin-top: 0;
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xxs);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-xs);
  color: var(--color-neutral-500);
}
