/* ************************************************************************** */
/* Header */

.logoText {
  font-family: var(--font-family-body);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-600);
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-xs);
}

.menuLink {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xxs);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-xs);
}

/* ************************************************************************** */
/* Footer */

.socialMediaLabel {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xxs);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-xs);
}

