/* ************************************************************************** */
/* Header */

.logoText {
  font-family: var(--font-family-body);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-600);
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-xs);
}

.menuLink {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xxs);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-xs);
}

/* ************************************************************************** */
/* Footer */

.socialMediaLabel {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xxs);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-xs);
}

/* ************************************************************************** */
/* Post card */

.postCategoryText {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xxxs);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-md);
  line-height: var(--line-height-xs);
}

.postCardTitle {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-700);
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-sm);
}

.postCardDescription {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-md);
}

.postCardDate {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xxs);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-md);
  line-height: var(--line-height-xs);
}

/* ************************************************************************** */
/* Newsletter */

.newsletterFormTitle {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-700);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-sm);
}

.newsletterFormInput {
  font-family: var(--font-family-body);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-xs);
}

/* ************************************************************************** */
/* Post content */

.postTitle {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xxxl);
  font-weight: var(--font-weight-700);
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-sm);
}

.postDescription {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-400);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-md);
}

.postDate {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xxs);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-xxl);
  line-height: var(--line-height-xs);
}

.postCategoryText {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xxxs);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-md);
  line-height: var(--line-height-xs);
}

.postKeyword {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xxxs);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-lg);
  line-height: var(--line-height-xs);
}

.postH2 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-700);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-sm);
}

.postH3 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-700);
  letter-spacing: var(--letter-spacing-xxs);
  line-height: var(--line-height-sm);
}

.postH4 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-700);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-sm);
}

.postH5 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-700);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-sm);
}

.postH6 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-700);
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-sm);
}

.postBody {
  font-family: var(--font-family-body);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-md);

  /* */
  margin-bottom: 0 !important;
}

.postCode {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-sm) !important;
  font-weight: var(--font-weight-400);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-md) !important;

  /* */
  display: block;
  padding: 1rem !important;
}

/* Classe não usada por causa do problema de StructuredTextDatoCMS duplicado */
.postQuoteCite {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-md);

  /* */
  margin-bottom: 0 !important;
}

.postQuoteAuthor {
  font-family: var(--font-family-body);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-500);
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-md);
}
