/* ************************************************************************** */
/**
 * CSS variables
 */

:root {
}

/* ************************************************************************** */
/**
 * Viewport
 */

/* ************************************************************************** */
/**
 * Global
 */

/* ************************************************************************** */
/**
 * Hidden
 */

/* ************************************************************************** */
/**
 * Block
 */

hr {
  width: 60%; /* ??? */
  margin: 0 auto; /* ??? */
}

/* ************************************************************************** */
/**
 * Typography
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-700);
}

h1,
h2 {
  text-align: center;
}

h3,
h4,
h5,
h6 {
  text-align: left;
}

blockquote {
  border-left: 10px solid var(--color-red-100);
  padding: 1rem 1rem 1rem 1.5rem;
}

blockquote p {
  font-style: italic;
}

blockquote footer::before {
  content: '—';
  margin-right: 1rem;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

blockquote,
q {
  quotes: '" ' ' "';
}

/* ************************************************************************** */
/**
 * Table
 */

table {
  width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table caption {
  /* visually hidden */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(1px, 1px, 1px, 1px);
}

table td,
table th {
  padding: 0.5rem;
  text-align: center;
}

table thead tr {
  color: var(--color-neutral-50);
  background-color: var(--color-neutral-700);
}

table thead tr:hover {
  color: var(--color-neutral-100);
  background-color: var(--color-red-500);
}

table tbody tr:nth-child(even) {
  background-color: var(--color-neutral-200);
}

table tbody tr:hover {
  color: var(--color-neutral-50);
  background-color: var(--color-red-300);
}

table tfoot tr {
  background-color: var(--color-neutral-400);
}

table tfoot tr:hover {
  color: var(--color-neutral-50);
  background-color: var(--color-red-400);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  caption-side: bottom;
}

/* ************************************************************************** */
/**
 * Code
 */

pre[class*='language-'] {
  padding: 2rem;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: none;
}

code:not([class*='language-']) {
  display: inline-block;
  padding: 0 0.4rem;
  border-radius: var(--border-radius);
  background-color: var(--color-neutral-200);
}

@media screen and (min-width: 768px) {
  code:not([class*='language-']) {
    padding: 0.1rem 0.3rem;
    line-height: 1;
  }
}

/* ************************************************************************** */
/**
 * Media
 */

img,
video,
iframe {
  margin: 0 auto;
}

/* ************************************************************************** */
/**
 * Inline
 */

a {
  color: inherit;
}

/* ************************************************************************** */
/* ********************************** */
/**
 * Form container
 */

/* ********************************** */
/**
 * Form button
 */

/* ********************************** */
/**
 * Form input
 */

input {
  /* tem que ser --font-family-input pra não atrelar a headings */
  font-family: var(--font-family-heading);
}

/* ************************************************************************** */
/**
 * Interaction
 */

/* ************************************************************************** */
/**
 * Attributes
 */

/* ************************************************************************** */
/**
 * Third party
 */

.twitter-tweet {
  margin: 0 auto;
}
