.fontWeightThin {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-thin);
  letter-spacing: 0;
  line-height: 1;
}

.fontWeightExtralight {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-extralight);
  letter-spacing: 0;
  line-height: 1;
}

.fontWeightLight {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-light);
  letter-spacing: 0;
  line-height: 1;
}

.fontWeightRegular {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  letter-spacing: 0;
  line-height: 1;
}

.fontWeightMedium {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  letter-spacing: 0;
  line-height: 1;
}

.fontWeightSemibold {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-semibold);
  letter-spacing: 0;
  line-height: 1;
}

.fontWeightBold {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0;
  line-height: 1;
}

.fontWeightExtrabold {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-extrabold);
  letter-spacing: 0;
  line-height: 1;
}

.fontWeightBlack {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-black);
  letter-spacing: 0;
  line-height: 1;
}
